.google-map > div .gmnoprint {
    /* display: none; */
}
.google-map > div .gm-style-cc {
    display: none;
}
.gm-control-active.gm-fullscreen-control {
    border-radius: 20px !important;
}
div > a > div > img {
    display: none;
}
.gmnoprint.gm-style-mtc-bbw {
    display: none;
}
div[style*='background-color: white; font-weight: 500; font-family: Roboto, sans-serif; padding: 15px 25px; box-sizing: border-box; top: 5px; border: 1px solid rgba(0, 0, 0, 0.12); border-radius: 5px; left: 50%; max-width: 375px; position: absolute; transform: translateX(-50%); width: calc(100% - 10px); z-index: 1;'] {
    display: none;
}

.table-apartment-detail th {
    background: #3c7cb1 !important;
    color: white !important;
}
.google-map {
    position: relative;
}
.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {
    position: absolute;
    top: 20px;
    right: 0;
}
.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom > .gmnoprint > div {
    border-radius: 12px !important;
}
.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom > .gm-svpc {
    display: none;
}
.apartment-detail,
.list-image-room .ant-image-mask-info {
    display: none;
}
