@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.apartment-detail .ant-image-mask-info,
.list-image-room .ant-image-mask-info {
   display: none;
}
.search-home > .ant-picker.ant-picker-range {
   box-shadow: none;
}
.navLink::before {
   content: '';
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 0;
   height: 2px;
   background-color: rgb(44, 127, 206);
   transition: width 0.5s ease-in-out;
}

.navLink-active::before {
   width: 65%;
}

/* disable next, prev date range picker  */
.ant-picker-header-super-next-btn {
   display: none;
}
.ant-picker-header-super-prev-btn {
   display: none;
}
.ant-picker-time-panel {
   display: none !important;
}
/* set width and height upload images */
.ant-upload-list-item-container {
   width: 350px !important;
   height: 320px !important;
}
.ant-upload {
   width: 350px !important;
   height: 320px !important;
}
.custom-datepicker .rdrDefinedRangesWrapper {
   display: none;
}
.ant-collapse-header {
   padding: 0 !important;
}
.ant-drawer-content .ant-drawer-body {
   padding: 0 !important;
}
