@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.apartment-detail .ant-image-mask-info,
.list-image-room .ant-image-mask-info {
   display: none;
}
.search-home > .ant-picker.ant-picker-range {
   box-shadow: none;
}
.navLink::before {
   content: '';
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 0;
   height: 2px;
   background-color: rgb(44, 127, 206);
   transition: width 0.5s ease-in-out;
}

.navLink-active::before {
   width: 65%;
}

/* disable next, prev date range picker  */
.ant-picker-header-super-next-btn {
   display: none;
}
.ant-picker-header-super-prev-btn {
   display: none;
}
.ant-picker-time-panel {
   display: none !important;
}
.input-container {
   position: relative;
   /* border: 1px solid #ccc; */
   /* border-radius: 8px; */
   transition:
      border-color 0.3s,
      box-shadow 0.3s;
}

.input-container:focus-within {
   border-color: #4096ff;
   box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

/* .input-container .input-field:focus + .input-label { */
/*    top: 10px; */
/*    left: 20px; */
/*    font-size: 15px; */
/*    font-weight: 500; */
/* } */

.input-container .ant-input-number-input:focus + .input-label {
   top: 10px;
   left: 20px;
   font-size: 15px;
   font-weight: 500;
}
