
SERVER_PORT=9009
SERVER_URL=http://localhost:9009
CLIENT_URL=http://localhost:8000
MONGODB_URL=
ELASTICSEARCH_URL=http://localhost:9200

# jwt
JWT_ACCESS_KEY=
JWT_REFRESH_KEY=
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=7d
STRIPE_SECRET_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
